html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
}

/* ======== Common =========== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 205px;
    padding: 16px 10px;
    border-radius: 30px;
    background-color: #2e80ce;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #ffffff;
}

.heading {
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.heading.lv1 {
    width: 517px;
    font-size: 7rem;
    line-height: 1.14;
}

.heading.lv2 {
    font-size: 5rem;
    line-height: 1.2;
    color: var(--primary-color);
}

.heading.lv3 {
    font-size: 2.6rem;
    line-height: 1.38;
    color: var(--primary-color);
}

.heading.lv4 {
    font-size: 1.8rem;
    line-height: 1.2;
    color: var(--primary-color);
}

/* ========= Header ========== */
.header {
    padding: 35px 0 10px;
    background-color: var(--primary-color);
}

.fix-header {
    position: sticky;
    top: -25px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar ul {
    display: flex;
}

.header .navbar li a {
    position: relative;
    padding: 8px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
}

.header .navbar li.native a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.header .navbar li.native a::before {
    position: absolute;
    left: 10px;
    bottom: 16px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
}

.header .action-link {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
}

.btn-header {
    margin-left: 28px;
    min-width: 104px;
    padding: 8px 10px;
}

/* ============ Hero ============= */
.hero {
    padding: 66px 0 110px;
    background-color: var(--primary-color);
}

.hero .body {
    display: flex;
}

.hero .info {
    width: 55%;
}

.hero .info .desc {
    width: 468px;
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero .info .row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .info .row .phone-number {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero .img-block {
    width: 45%;
    display: flex;
    align-items: center;
}

.hero .img-block .img-large {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero .img-block .img-small {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 6px;
}

/* Services */
.services {
    margin-top: 70px;
    padding: 100px 0;
}

.services .heading.lv2 {
    text-align: center;
}

.services .desc-service {
    margin-top: 18px;
    width: 468px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #575f66;
}

.services .body {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.services .img-service {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services .info {
    padding-left: 110px;
}

.services .info .item {
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.services .info .item:hover {
    background: #ffffff;
    box-shadow: 0px 14px 28px red;
}

.services .info .item-body {
    display: flex;
    padding: 21px 0px 20px 22px;
}

.services .item .item-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2e80ce;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .item .desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.services .item .item-info {
    margin-left: 19px;
    width: 351px;
}

.btn-service {
    margin-top: 55px;
}

/* Features */
.features {
    padding: 100px 0;
    background-color: #f6fbff;
}

.features .desc-features {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

.features-list {
    margin-top: 70px;
    display: flex;
    gap: 0 30px;
}

.features-list .feature-item {
    background-color: #ffffff;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
}

.features-list .feature-item:hover {
    border-color: #2e80ce;
    margin-bottom: 16px;
}

.feature-item .body {
    padding: 43px 42px;
}

.features-list .heading {
    margin-top: 20px;
}

.features-list .desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.feature-item span {
    display: inline-block;
    margin-top: 18px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    color: #575f66;
}

/* =============== Guide ============== */
.guide {
    margin-top: 70px;
    padding: 100px 0;
}

.guide .body {
    display: flex;
}

.guide .img-block {
    width: 48%;
    position: relative;
}

.guide .img-block .img-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 512px;
    height: 370px;
    object-fit: cover;
}

.guide .img-block .img-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
    object-fit: cover;
}

.guide .info {
    width: 52%;
    padding: 82px 0 83px 130px;
}

.guide .info .desc {
    margin-top: 18px;
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}
